<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>

    <div class="main-container">
        {{ content }}
    </div>

    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>